/* Estilo del cuerpo */
body {
    color: rgb(40, 40, 40);      
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
}

/* Estilo del menú */
.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #FFF6FE;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 2px 0 5px #dddcdc80;
}

/* Estilo para cada elemento del menú */
.menu li {
    margin: 10px 0;
}

/* Estilo para los enlaces del menú */
.menu a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block;
}

/* Efecto hover para los enlaces del menú */
.menu a:hover {
    background-color: #CB72B0;
}

.menu-central {
    padding-top: 0.5rem;
}

.menu-bajo {
    padding-top: 18rem;
}

/*ocultar iconos del menu en escritorio*/
.flex-menu a span {
    display: none;  /* Oculta los íconos */
}


.flex-menu a {
    padding: 1rem; /* Ajusta el padding si es necesario */
}


.flex-menu a span:nth-child(2) {
    display: inline;  /* Muestra el texto */
}

.contenedor-texto {
padding-left: 15rem;
}

.contenedor-texto h1 {
    font-size: 96px;
    }

.contenedor-texto p {
padding-bottom: 5rem;   
 }

 main {
    padding-left: 15rem;

 }

 /* Estilos para el contenedor del footer */
.footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 15rem;
}

/* Estilos para los enlaces en el footer */
.footer a {
    color: #054465;
    font-size: 12px;
    text-decoration: none;
    padding-left: 1rem;
}

.footer a:hover {
    color: #6c93a7;
}


@media (max-width: 768px) {
    /* Estilos generales del body */
    body {
        color: #282828;
        font-family: "Montserrat", sans-serif;
        margin: 0; 
        padding: 0; 
        overflow-x: hidden; 
        font-size: 16px;
        padding: 10px;
    }

     /* Estilo del menú */
     .flex-menu {
        width: 7%;                    
        height: auto;                   
        display: flex;                  
        flex-direction: column;         
        justify-content: flex-start;    
        padding: 1rem;                  
        position: fixed;                
        top: 0;                         
        left: 0;                       
        background-color: #FFF6FE;     
        height: 100vh;                 
        box-shadow: 2px 0 5px #dddcdc80; 
       
    }


    .menu-inicio {
        font-size: 10px;
    }


    .menu-central {
        font-size: 10px;
        padding-top: 2rem;
    }
   
    .menu-bajo {
        font-size: 10px;
        padding-top: 21rem;
    }


    /* MENU: Ocultar texto en dispositivos móviles */

.menu-central {
    padding-top: 0.5rem;
}


.menu-bajo {
    padding-top: 18rem;
}


.flex-menu a span {
    display: inline; /* Mostrar solo el icono */
}


.flex-menu a {
    justify-content: center; 
    padding: 10px; 
}


.flex-menu a {
    display: flex;  
    align-items: center;  
}
.flex-menu a span {
    display: inline;  /* Muestra los íconos */
}


.flex-menu a {
    justify-content: center; /* Centra los íconos */
    color: #4e4e4e;


}


.flex-menu a {
    padding: 10px; /* Ajusta el padding si es necesario */
}


.flex-menu a span:nth-child(2) {
    display: none;  /* Oculta el texto */
}

/*titulo y texto*/
.contenedor-texto {
    padding-left: 5rem;
    }
    
    .contenedor-texto h1 {
        font-size: 45px; 
        padding-top: 2rem;
    }
    
    .contenedor-texto p {
        display: none;    
    }
    
     main {
        padding-left: 5rem;
     }

     main h2 {
        font-size: 15px;
        width: 70%;                    
        height: auto;
     }

     main li {
        font-size: 12px;
        width: 70%;                    
        height: auto;

     }

/*footer */
.footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Estilos para los enlaces en el footer */
.footer a {
    color: #054465;
    font-size: 10px;
    text-decoration: none;
    padding-left: 0.5rem;
}

.footer a:hover {
    color: #6c93a7;
}